@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "News Cycle", sans-serif;
}

.titulopagina {
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 10px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}


nav {
    background-image: url('./images/toy2.jpg');
    background-size: 100%;
    background-position: center center;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;

}


nav button {
    background-color: #ffffff;
    border-color: rgb(255, 255, 255);
    color: rgb(7, 6, 6);
    border-radius: 100px;
    height: 40px;
    padding: 0 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

nav button:hover {
    background-color: rgb(214, 208, 208);
    border-color: rgb(214, 208, 208);
}


.usuariopeluche {
    
    display: flex;
    flex-wrap: nowrap;
    /* Para permitir desplazamiento horizontal si hay muchos elementos */
    list-style-type: none;
    padding: 20px;
    margin: 0;
    
    
}

.lineapeluches{
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}

.lineapeluches img{
    width: 200px;
    filter:drop-shadow(
        0 0 10px rgba(0,0,0, .8)
    )
}

.coleccion{
    display:block;
}

.coleccion button {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Para que el botón ocupe todo el ancho disponible */
}

#peluchesusuario button {
    width: 50%;
}

h2 {
    padding-left: 35%;
}

.contenido {
    margin: 30px;
}

body {
    background-color: rgb(250, 248, 248);
    background-size: 100px;
    width: 100%;
}

.imagenespeluches {
    width: 200px;

}

.btncomprarpeluche{
    height: 40px;

}

@media (max-width:500px) {

    nav {
        height: 10%;
        flex-direction: row;
    }

    nav button {
        margin:0px;
        padding: 0px;
    }

    body {
        width: 100%;
    }

    .usuariopeluche {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        max-height: fit-content;
    }

    #peluchesusuario li {
        box-sizing: border-box;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        font-weight: bold;
    }

    .contenido {
        margin: 0px;
        padding-left: 0%;
    }

    #peluchesusuario button {
        width: 20%;
    }

    h2{
        display:flex;
        padding-left: 0%;
    }
    .coleccion button{
        margin-top: 2%;
        width: 50%;
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

}